:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 600;
  color: white;
  font-size: 21px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  word-wrap: break-word;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: circle;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

a:hover {
  color: #000;
  cursor: pointer;
}

div,
nav,
footer {
  padding: 10px;
  margin-bottom: 10px;
}

div,
footer {
  text-align: center;
}

/* header */

.header {
  display: flex;
  gap: 10px;
}

.header__item--small {
  flex-grow: 0;
  background-color: #56202b;
}

.header__item--big {
  flex-grow: 1;
  background-color: #56202b;
}

/* images */

.images {
  padding-top: 35px;
  display: flex;
  flex-direction: row;
  background-color: #813041;
  justify-content: space-between;
}

.images__container1,
.images__container2 {
  display: flex;
  gap: 10px;
  margin: 0;
}

.images__picture img {
  width: 100%;
  height: auto;
}

/* third section*/

.third-section {
  display: flex;
  gap: 10px;
}

.third-section__item--small {
  padding: 25px;
  flex-grow: 1;
  background-color: #d8506d;
}

.third-section__item--big {
  padding: 25px;
  flex-grow: 2;
  background-color: #d8506d;
}

/* fourth section*/

.fourth-section {
  display: flex;
  gap: 10px;
}

.fourth-section__container {
  flex-grow: 2;
  display: grid;
  grid-template-rows: 150px 150px 200px;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

.fourth-section__item1,
.fourth-section__item2,
.fourth-section__item3,
.fourth-section__item4 {
  display: grid;
  align-items: center;
}

.fourth-section__item1 {
  grid-row: 1;
  grid-column: 1 / span 2;
  background-color: #7c5aca;
}

.fourth-section__item2 {
  grid-row: 2;
  grid-column: 1;
  background-color: #7c5aca;
}

.fourth-section__item3 {
  grid-row: 2;
  grid-column: 2;
  background-color: #7c5aca;
}

.fourth-section__item4 {
  grid-row: 3;
  grid-column: 1 / span 2;
  background-color: #5a60ca;
}

/* navigation list */

.navigation {
  flex-grow: 1;
  height: fit-content;
  background-color: #cd618e;
}

/* footer */

.footer {
  background-color: #20269a;
}

@media (max-width: 1024px) {
  .images {
    padding-top: 50px;
  }

  .images__container1,
  .images__container2 {
    flex-direction: column;
    width: -webkit-fill-available;
    gap: 5px;
  }

  .images__picture img {
    height: 150px;
    object-fit: cover;
  }

  .fourth-section__container {
    grid-template: repeat(3, 1fr) 200px / 1fr;
  }

  .fourth-section__item1,
  .fourth-section__item2,
  .fourth-section__item3,
  .fourth-section__item4 {
    grid-row: auto;
    grid-column: auto;
    padding: 25px;
  }
}

@media (max-width: 360px) {
  .images {
    padding-top: 25px;
    flex-direction: column;
  }

  .images__picture img {
    height: 80px;
    object-fit: cover;
  }

  .images__container1,
  .images__container2 {
    padding: 2px;
  }

  .header__item--small {
    flex-grow: 1;
  }

  .header__item--big {
    flex-grow: 0;
  }

  .third-section,
  .fourth-section {
    flex-direction: column;
    gap: 0;
  }

  .third-section__item--big {
    padding: 40px;
  }

  .fourth-section__item1,
  .fourth-section__item2,
  .fourth-section__item3 {
    padding: 10px;
  }
}
